* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  color: black;
}

.header {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 82, 0);
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  width: 235px;
  display: flex;
  justify-content: start;
}

.logo 
img {
  height: 68px;
  width: 68px;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
}

.navItems ul {
  width: fit-content;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid none;

}

.cta ul {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 24px;
}

.navItems li {
  height: 20px;
  border-bottom: 1px solid none;
  cursor: pointer;
}

.navItems li:hover {
  height: 20px;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.signUp {
  width: 120px;
  padding: 12px 20px 12px 20px;
  background-color: rgb(0, 0, 0);
  border-radius: 8px;
  color: white;

  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp:hover {
  padding: 12px 20px 12px 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  
}

.cart {
  padding: 12px 20px 12px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  color: black;
  cursor: pointer;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

.banner {
  width: 100%;
  height: 600px;
}

.banner {
  position: relative;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.food {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.search {
  position: absolute;
  width: 800px;
  height: 80px;
  background-color: white;
  border-radius: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 12px 24px 24px;
  gap: 24px;
}




.searchItems {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 8px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 300;
}


.searchItems:active {
  border: none;
}

.submit {
  height: 60px;
  padding: 0 30px 0 30px;
  background-color: rgb(255, 82, 0);
  border-radius: 8px;
  color: white;
  border: none;
}

.submit:hover{
  background-color: #cf4200;
  cursor:pointer;
}

.mainBody {
  width: 100%;
  padding-left: 64px;
  padding-right: 64px;
}

.main {
  display: flex;
  width: 100%;
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
  align-items: center;
}

.resturant {
  display: flex;
  color: black;
  font-size: 40px;
  gap: 24px;
  font-style: Bold;
  font-family: cursive;
}

.menuOption {
  display: flex;
  gap: 36px;
}
.menuOption ul {
  color: black;
  width: fit-content;
  gap: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menuOption ul li:hover {
  color: rgb(255, 82, 0);
  border-bottom: 1px solid rgb(255, 82, 0);
  cursor: pointer;
    font-size: 18px;

}

.menuOption ul li{
  color: rgb(0, 0, 0);
  border-bottom: 1px solid none;
  cursor: pointer;
  font-size: 18px;
}

.filter {
  padding: 8px 24px 8px 24px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  color: black;
  cursor: pointer;
}

.foodCardContainer {
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 60px;
}

.foodCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  /* height: fit-content; */
  color: black;
  padding: 16px;
  gap: 16px;
  border: 1px solid transparent;
  background-color: white;
}

.foodCard:hover {
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.foodImage {
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: contain;
  border-radius: 0;
  display: block;
}

.foodInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.foodInfo ul {
  color: black;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.foodInfo ul li:nth-child(1) {
  padding: 8px 16px 8px 16px;
  background-color: green;
  color: white;
}

.filter:hover {
  background-color: rgb(255, 82, 0);
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}

.shimmerContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  padding-left: 64px;
  padding-right: 64px;
  background-color: rgb(255, 255, 255);
}

.shimmerCard {
  display: flex;
  flex-direction: column-reverse;
  height: 450px;
  width: 350px;
  background-color: rgb(233, 233, 233);
  padding: 24px;
  gap: 24px;
}

.shimmerImage {
  height: 200px;
  width: 100%;
  background-color: rgb(202, 202, 202);
  border-radius: 0;
}

.shimmerfoodInfo {
  height: 24px;
  width: 100%;
  background-color: rgb(202, 202, 202);
}
.shimmerfoodInfo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.shimmerheading {
  height: 12px;
  width: 100%;
  background-color: rgb(202, 202, 202);
}
.shimmerdesc {
  height: 12px;
  width: 100%;
  background-color: rgb(202, 202, 202);
}

.point {
  display: flex;
}

.shimmerUIrating,
.shimmerUItime,
.shimmerUIprice {
  height: 12px;
  width: 100%;
  background-color: rgb(96, 93, 93);
  list-style: none;
  z-index: 5;
}

.topHead {
  position: relative;
  overflow: hidden;
}

.foodCard:hover .buyItems {
  opacity: 1;
  visibility: visible;
  bottom: 20px;
}

.buyItems {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);

  padding: 10px 24px;
  border: none;
  border-radius: 8px;
  background-color: #ff5200;
  color: white;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  font-size: 16px;
}

.heading{
  color: black;
}

.addItemsPopUp{
    color: black;

    width: 800px;
    background-color: rgba(230, 230, 230, 0.75);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.selectQuantity{
    width: 90%;
    height: 64px;
    padding: 24px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    border-radius: 16px;

    font-size: 18px;

}

.addItemPopUpFooter{
    width: 100%;
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
}

.addItems{
    padding: 12px 36px;
    background-color: #ff5200;
    color: white;

    font-size: 16px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;

}

.popUpHeader{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding: 24px;

}

.addItemsPopUp  hr{
    margin-top: 16px ;
}


.quantity{
    width: 90%;
    gap: 24px;
    height: fit-content;
    background-color: #ff5200;
}

.addItemsPopUp h3{
    width: 90%;
}



.topbody{
    width: 100%;
    
}

input:focus{
  outline: none;
}

.headerComponent{
  text-decoration: none;
  color: white;

}